.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-wrap: nowrap;
  font-family: var(--font-body);
  text-transform: capitalize;
  border-radius: 999px;
  font-weight: 600;
  transition: background-color, border-color, color;
  transition-duration: 0.2s;
  border: 1px solid transparent;

  &:not(.primary):not(.noHover):hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: transparent;
  }

  &.primary:hover {
    opacity: 0.8;
  }

  &.active {
    color: #fff;
    background: var(--color-primary);
  }
}

.primary {
  color: #fff;
  background: var(--color-primary);
}

.outline {
  color: var(--color-text-heading);
  background: transparent;
  border-color: var(--color-border-button-outline);
}

.small {
  padding: 0 16px;
  height: 40px;
  font-size: 1.4rem;
  line-height: 171.429%;
}

.medium {
  padding: 0 24px;
  height: 44px;
  font-size: 1.6rem;
  line-height: 175%;
}

.large {
  padding: 0 35px;
  height: 60px;
  font-size: 1.8rem;
  line-height: 166.667%;
}
