.header {
  background: #fff9e5;
}

.inner {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
