@use '@/scss/abstract';

.header {
  background: var(--color-secondary);
}

.inner {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuIcon {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--color-text-heading);

  @include abstract.screen(lg) {
    display: block;
  }
}
