.theme {
  width: 64px;
  height: 32px;
  border-radius: 999px;
  background-color: var(--bg-theme);
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggleIcon {
  width: 28px;
  height: 28px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;
  border-radius: 50%;
  background-color: var(--bg-toggle-theme);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: left, right, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme.light .toggleIcon {
  left: 0;
}

.theme.dark .toggleIcon {
  right: 0;
  left: 100%;
  transform: translate(-100%, -50%);
}
