html.dark {
  --color-logo: #fff;
  --color-text-heading: #f2f2f2; /* màu sáng cho tiêu đề */
  --color-text-body: #c0c0c0; /* màu xám nhẹ cho nội dung */
  --color-primary: #ff5b26; /* giữ nguyên để làm màu nhấn */
  --color-secondary: #2d281d; /* biến thể tối của #fff9e5 */
  --color-border-button-outline: rgba(255, 255, 255, 0.1);

  --body-bg: #121212;

  --bg-shadow-nav: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  --bg-nav: #1e1e1e;
  --bg-nav-link: rgba(255, 255, 255, 0.1);

  --bg-color-card: #1a1a1a;
  --shadow-card: 0px 20px 90px 0px rgba(0, 0, 0, 0.4);

  --bg-color-searchbar: #1e1e1e;
  --shadow-searchbar: 0px 20px 90px 0px rgba(255, 90, 0, 0.1);

  --bg-theme: #043449;
  --bg-toggle-theme: #25b6f4;
}
