html.light {
  --color-logo: #191b1d;
  --color-text-heading: #191b1d;
  --color-text-body: #4e5358;
  --color-primary: #ff5b26;
  --color-secondary: #fff9e5;
  --color-border-button-outline: rgba(25, 27, 29, 0.1);
  --body-bg: #fff;
  --bg-shadow-nav: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --bg-nav: #fff;
  --bg-nav-link: rgba(204, 204, 204, 0.6);
  --bg-color-card: #fff;
  --shadow-card: 0px 20px 90px 0px rgba(25, 27, 29, 0.1);
  --bg-color-searchbar: #fff;
  --shadow-searchbar: 0px 20px 90px 0px rgba(157, 110, 0, 0.1);
  --bg-theme: #fbedb6;
  --bg-toggle-theme: #f4ca25;
}
